h1 {
    text-align: center;
    font-size: 55px;
}

form {
    display: block;
    text-align: center;
    position: absolute;
    left: 42.5%;
    top: 150px;
}

button{
    min-height: 30px;
    min-width: 30px;
    background-color: red;
    font-size: 1em;
    padding: .27em .27em;
}

button:hover {
    background-color: white;
    cursor: pointer;
}

body {
    background-image: url("http://corporate.greenland.com/media/5803/adventure-corporate-02.jpg?width=1920&height=1280&mode=crop&format=jpg&quality=95");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

