
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.hide {
    display: none;
}

.start-display {
    padding-top: 100px;
    margin-bottom: 45px;
}

form {
    padding: 10px;
}

form input {
    height: 15px;
    width: 150px;
    border-radius: 3px;
}


